html, body
  padding: 0
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-size: 15px

body
  overflow-x: hidden

#content-wrap
  max-width: $content-max-width
  margin: 0 auto
  box-sizing: border-box
  overflow: hidden
  position: relative

#content
  float: right
  width: calc(100% - 220px)
  box-sizing: border-box
  background: white
  padding: $universal-padding

@import "main-responsive"
