.map-container
	max-height: 200px
	overflow: hidden
	position: relative
	> img
		width: 100%

	> a
		color: ForestGreen 
		text-decoration: underline
		position: absolute
		width: 150px
		text-align: center
		display: block
		margin: 0 auto
		top: 55%
		left: calc(50% - 75px)