.control-buttons-container
	margin: 0px 15px 8px 0px

#top-bar .control-buttons-container
	float: left
	margin: 0px

.control-buttons-container
	&:after
		content: ""
		display: block
		clear: both

	form.searchform
		margin: 0px

	.ghost-button
		float: right
		background: transparent
		color: #444
		line-height: 16px
		border: 0
		border-radius: 0
		box-shadow: 0
		padding: 16px 0 0 0
		font-size: 13px
	
#search-field-container
	position: relative
	height: 50px
	box-sizing: border-box
	padding-left: 34px

	#search-box-toggle
		display: none

		&:checked + #search-field-top-bar
			display: block

	@keyframes searchScaleUp
		0%
			max-width: 0
			width: 0			
			opacity: 0
			padding: 0 0
			margin-right: 0px
		100%
			max-width: 300px
			width: 300px			
			opacity: 1
			padding: 0 17px
			margin-right: 10px


	#search-field-top-bar
		display: none
		border-radius: 3px
		border: 1px solid rgba(0,0,0,0.15)
		float: left
		background: white
		max-width: 300px
		width: 300px
		padding: 0 17px
		margin: 10px 0
		line-height: 28px
		animation: searchScaleUp 0.5s ease forwards

		font-size: 14px
		color: #323232

	#searchsubmit
		display: block
		float: left
		width: 24px
		height: 50px
		background: url('../images/magnifier-icon.svg') no-repeat
			size: 24px 24px
			repeat: no-repeat
			position: 50% 50%
		cursor: pointer

	.options-button
		float: left
		background:
			image: url('../images/icon-sorting-options.svg')
			color: white
		height: 32px
		width: 32px
		border: 0
		border-radius: 3px
		box-shadow: 0px 1px 0px rgba(0,0,0,0.15)


@media screen and(max-width: 720px)
	.control-buttons-container
		margin: 0px
		display: none
