@import "../../mixins"

//
// Buttons for PDF, DOC, ZIP, etc. documents
//

.button-prefab
  @include unselectable

  display: inline-block
  margin: 8px 8px 8px 0
  padding-right: 12px
  border: 1px solid #D2D1CA
  border-radius: 3px
  background: white
  overflow: hidden

  //text
  font-size: 13px
  text-decoration: none
  line-height: 36px
  white-space: nowrap
  text-overflow: ellipsis

  &:hover
    background: #F6F6F6

  &:active, &:focus
    background: #D4D3D2

.button-stripe
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 7px
    height: 100px
    display: inline-block
    margin-right: 8px

.simple-button
  @extend .button-prefab
  padding: 10px 17px
  margin-right: 7px
  overflow: hidden

.simple-button.pdf-button
  @extend .button-stripe
  &:before
    background-color: #F24236

.simple-button.edookit-button
  @extend .button-stripe
  &:before
    background-color: #582C83

.download-button
  @extend .button-prefab

  &:before
    display: block
    float: left
    padding: 0 12px
    margin-right: 8px

    color: white
    font-weight: 600

.download-button.pdf
  &:before
    content: "PDF"
    background: #F24236

  &:hover, &:active, &:focus
    &:before
      background: #D81B0E

.download-button.docx, .download-button.doc
  &:before
    content: "DOCX"
    background: #295598

  &:hover, &:active, &:focus
    &:before
      background: #204276
.download-button.doc
  &:before
    content: "DOC"

.download-button.xlsx, .download-button.xls
  &:before
    content: "XLSX"
    background: #1F7244

  &:hover, &:active, &:focus
    &:before
      background: #1A5E38
.download-button.xls
  &:before
    content: "XLS"

.download-button.pptx,
.download-button.ppt
  &:before
    content: "PPTX"
    background: #D14424

  &:hover, &:active, &:focus
    &:before
      background: #B0391E
.download-button.ppt
  &:before
    content: "PPT"