@media screen and(max-width: 780px)
@media screen and(max-width: 640px)
	#menu-top-bar
		height: 50px

		#logo-wrapper
			width: 220px
			padding: 7px 0px
			img
				max-height: 36px

	.menu-horni-lista-container
		ul#menu-horni-lista
			li
				a
					height: 50px
					line-height: 50px
					padding: 0px 10px