#posts-wrap .post-wrap.aside
	background: hsl(55, 85, 90) !important

	.basic-info-wrap
		padding: ($universal-padding / 2)
		float: none
		width: 100%

		h2
			padding: 0px
			background: none

		.update-info
			display: block
			color: #444

@media screen and(max-width: 640px)
	#posts-wrap .post-wrap.aside
		.basic-info-wrap
			background: none
			padding: 0px
			margin: 15px 0px
