#posts-wrap
	margin: $universal-padding 0px
	width: 75%

	.post-wrap
		position: relative
		overflow: hidden
		//padding: ($universal-padding / 1.5)
		margin-bottom: $universal-padding
		background: white
		border-radius: 3px
		border: 1px solid #DDD

		h2
			padding: 0px
			font-size: 1.4em
			line-height: 1.4em
			margin: 0px
			overflow: hidden
			position: relative
			z-index: 2
			overflow: hidden

			img
				display: none

			a
				padding: ($universal-padding / 2)
				background: hsla(0,0,100,0.45)
				display: block
				position: relative
				z-index: 2
				font-family: 'Museo'

				&:hover, &:active
					text-decoration: underline

		img.wp-post-image
			width: 35%
			height: auto
			float: left
			box-sizing: border-box
			padding-left: ($universal-padding / 2)
			padding-bottom: ($universal-padding / 2)

		.basic-info-wrap
			padding: ($universal-padding / 2)
			padding-top: 0px 
			box-sizing: border-box
			float: right
			width: 65%

			p
				margin: 0px

@import "posts-listing-responsive"