#posts-wrap
	margin: $universal-padding 0px
	width: 75%
	float: left

	.post-wrap
		position: relative
		overflow: hidden
		margin-bottom: ($universal-padding / 2)
		background: white
		border-radius: 3px
		border: 1px solid #DDD

		h2
			padding: 0px
			font-size: 1.4em
			line-height: 1.4em
			margin: 0px
			overflow: hidden
			position: relative
			z-index: 2
			overflow: hidden

			img
				display: none

			a
				padding: ($universal-padding / 3) ($universal-padding / 2)
				background: hsla(0,0,100,0.45)
				display: block
				position: relative
				z-index: 2
				font-family: 'Museo'

				&:hover, &:active
					text-decoration: underline

		img.wp-post-image
			width: 35%
			height: auto
			float: left
			box-sizing: border-box
			padding: ($universal-padding / 2)
			padding-top: 0px

		.basic-info-wrap
			padding: ($universal-padding / 2)
			padding-top: 0px 
			box-sizing: border-box

			p
				margin: 0px

			> a
				text-decoration: underline
				color: $base-color-dark

			small
				color: #444

@import "posts-listing-responsive"

@import "aside/post-format-aside"

@import "gallery/post-format-gallery"