@media screen and(max-width: 980px)
	#posts-wrap
		width: 100%

@media screen and(max-width: 640px)
	#posts-wrap

		.post-wrap
			padding: 0px

			img.wp-post-image
				float: none
				width: 100%
				padding: 0px
				margin-top: -51px

			h2
				position: relative
				z-index: 3
				overflow: hidden
				background: white

				img.wp-post-image
					display: block
					position: absolute
					top: 0px
					left: 0px
					margin-top: 0px
					padding: 0px
					width: 100%
					transform: scale(1.1)
					float: none
					z-index: 1
					filter: blur(10px)
					transition: 0.7s

				a
					background: hsla(0,0,100,0.45)
					display: block
					position: relative

			.basic-info-wrap
				padding: ($universal-padding / 2)
				padding-top: 0px
				box-shadow: 0px (-$universal-padding / 2) 0px 1px white
				position: relative
				z-index: 2
				background: hsl(0,0,100)

				p
					margin: 0px
