@media screen and(min-width: 1025px)
	#posts-wrap
		display: block !important

@media screen and(max-width: 1024px)
	#posts-wrap
		width: 100%
		border-top-left-radius: 0px
		margin-top: 0px

@media screen and(max-width: 640px)
	#posts-wrap
		background: none
		border-radius: none
		border: 0px
		box-sizing: border-box
		margin-top: 0px
		padding: 0px

		.post-wrap
			padding: 0px 15px
			border: 0px
			margin: 15px 0px
			border-bottom: 1px solid #DDD

			a > img.wp-post-image
				float: none
				width: 100%
				padding: 0px

			h2
				font-size: 16px
				padding: 0px
				margin: 10px 0px

				a
					color: #222

			.basic-info-wrap
				padding: 0px
				margin: 5px 0px

				p
					margin: 10px 0px
