#content-single-page.tpl-rozvrhy h2 a::first-letter {
  text-transform: uppercase;
}
#content-single-page.tpl-rozvrhy .basic-info-wrap > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#content-single-page.tpl-rozvrhy .basic-info-wrap > ul:after {
  content: "";
  display: table;
  clear: both;
}
#content-single-page.tpl-rozvrhy .basic-info-wrap > ul > li {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#content-single-page.tpl-rozvrhy .basic-info-wrap > ul > li > a {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
}
#content-single-page.tpl-rozvrhy .basic-info-wrap > ul > li > a:hover {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #CCC;
}
#content-single-page.tpl-rozvrhy .basic-info-wrap > ul > li > a:active {
  -webkit-transition: background-color 0s;
  -o-transition: background-color 0s;
  transition: background-color 0s;
  background-color: #EEE;
}
#content-single-page.tpl-rozvrhy select {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
#content-single-page.tpl-rozvrhy button#view-teacher-modal {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
}
#content-single-page.tpl-rozvrhy button#view-teacher-modal:hover {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #CCC;
}
#content-single-page.tpl-rozvrhy button#view-teacher-modal:active {
  -webkit-transition: background-color 0s;
  -o-transition: background-color 0s;
  transition: background-color 0s;
  background-color: #EEE;
}

.button-modern {
  margin: 50px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 15px 25px;
  border: 0px;
  background: -webkit-linear-gradient(45deg, #e96443, #904e95);
  background: -o-linear-gradient(45deg, #e96443, #904e95);
  background: linear-gradient(45deg, #e96443, #904e95);
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.button-text {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #B85870;
}

.button-background {
  position: absolute;
  z-index: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
  height: -webkit-calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
}
.button-background .btn-bg-sheet {
  background: white;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button-modern:hover .button-text, .button-modern:active .button-text {
  color: white;
}
.button-modern:hover .button-background .btn-bg-sheet, .button-modern:active .button-background .btn-bg-sheet {
  -webkit-transform: rotate(10deg) scaleY(0) scaleX(2);
      -ms-transform: rotate(10deg) scaleY(0) scaleX(2);
          transform: rotate(10deg) scaleY(0) scaleX(2);
}
.button-modern:active {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.button-modern:focus {
  outline: none !important;
}
.button-modern::-moz-focus-inner {
  border: 0px;
}
