#tinymce.wp-editor {
  padding: 34px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.55em;
}
#tinymce.wp-editor > * {
  max-width: 652px;
  box-sizing: border-box;
  margin: 0 auto;
}
#tinymce.wp-editor .wpview {
  border: 0px;
}
#tinymce.wp-editor .button-prefab, #tinymce.wp-editor .simple-button, #tinymce.wp-editor .download-button {
  position: relative;
  margin: 8px 0px;
  padding-right: 17px;
  display: inline-block;
  border-radius: 3px;
  background: white;
  box-shadow: 1px 1px 2px 1px #ddd;
  user-select: none;
  transition: .2;
  overflow: hidden;
  font-weight: 600;
  text-decoration: none;
}
#tinymce.wp-editor .button-prefab:hover, #tinymce.wp-editor .simple-button:hover, #tinymce.wp-editor .download-button:hover {
  background: #F6F6F6;
}
#tinymce.wp-editor .button-prefab:active, #tinymce.wp-editor .simple-button:active, #tinymce.wp-editor .download-button:active {
  background: #EEE;
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
#tinymce.wp-editor .button-prefab:active:before, #tinymce.wp-editor .simple-button:active:before, #tinymce.wp-editor .download-button:active:before {
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
#tinymce.wp-editor .button-stripe:before, #tinymce.wp-editor .simple-button.pdf-button:before, #tinymce.wp-editor .simple-button.edookit-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100px;
  display: inline-block;
  margin-right: 8px;
}
#tinymce.wp-editor .simple-button {
  padding: 10px 17px;
  margin-right: 7px;
  overflow: hidden;
}
#tinymce.wp-editor .simple-button.pdf-button:before {
  background-color: #F24236;
}
#tinymce.wp-editor .simple-button.edookit-button:before {
  background-color: #582C83;
}
#tinymce.wp-editor .download-button:before {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 17px;
  color: white;
  display: inline-block;
  margin-right: 8px;
}
#tinymce.wp-editor .download-button.pdf:before {
  content: "PDF";
  background: #F24236;
}
#tinymce.wp-editor .download-button.pdf:hover:before {
  background: #D81B0E;
}
#tinymce.wp-editor .download-button.docx:before, #tinymce.wp-editor .download-button.doc:before {
  content: "DOCX";
  background: #295598;
}
#tinymce.wp-editor .download-button.docx:hover:before, #tinymce.wp-editor .download-button.doc:hover:before {
  background: #204276;
}
#tinymce.wp-editor .download-button.doc:before {
  content: "DOC";
}
#tinymce.wp-editor .download-button.xlsx:before, #tinymce.wp-editor .download-button.xls:before {
  content: "XLSX";
  background: #1F7244;
}
#tinymce.wp-editor .download-button.xlsx:hover:before, #tinymce.wp-editor .download-button.xls:hover:before {
  background: #1A5E38;
}
#tinymce.wp-editor .download-button.xls:before {
  content: "XLS";
}
#tinymce.wp-editor .download-button.pptx:before,
#tinymce.wp-editor .download-button.ppt:before {
  content: "PPTX";
  background: #D14424;
}
#tinymce.wp-editor .download-button.pptx:hover:before,
#tinymce.wp-editor .download-button.ppt:hover:before {
  background: #B0391E;
}
#tinymce.wp-editor .download-button.ppt:before {
  content: "PPT";
}
#tinymce.wp-editor h1 {
  margin: 0px;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #333;
}
#tinymce.wp-editor span.publication-date {
  display: inline-block;
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
  padding-bottom: 7px;
}
#tinymce.wp-editor > p {
  margin-top: 17px;
  margin-bottom: 17px;
}
#tinymce.wp-editor > p a {
  color: inherit;
  text-decoration: none;
}
#tinymce.wp-editor > p a.text-link {
  border-bottom: 2px solid #50D889;
  box-shadow: inset 0px -1px #50D889;
}
#tinymce.wp-editor > p a.text-link:hover, #tinymce.wp-editor > p a.text-link:active {
  transition: .2s;
  border-bottom: 2px solid #00B04B;
  box-shadow: inset 0px -1px #00B04B;
}
#tinymce.wp-editor > p a.text-link.off-site-link:after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  height: 10px;
  width: 10px;
  background-image: url("../images/offsite-link-icon.svg");
  background-position: center;
  background-size: cover;
}
#tinymce.wp-editor > p img {
  display: inline;
  margin: 17px 0px 17px 0px;
  max-width: 100%;
  height: auto;
  border: 0px !important;
  transition: transform .3s;
}
#tinymce.wp-editor > p a img {
  cursor: zoom-in;
}
#tinymce.wp-editor img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#tinymce.wp-editor img.alignleft {
  display: inline-block;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}
#tinymce.wp-editor img.alignright {
  display: inline-block;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}
#tinymce.wp-editor .wp-caption {
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 100% !important;
}
#tinymce.wp-editor .wp-caption a {
  display: block;
}
#tinymce.wp-editor .wp-caption a > img {
  margin: 0px;
}
#tinymce.wp-editor .wp-caption .wp-caption-text {
  color: #777;
  margin: 10px 0px 0px;
}
#tinymce.wp-editor .gallery {
  padding: 0px;
  margin: 34px 0px 24px;
}
#tinymce.wp-editor .gallery:after {
  content: "";
  display: block;
  clear: both;
}
#tinymce.wp-editor .gallery .gallery-item {
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  margin: 0px 10px 10px 0px;
  padding: 0px;
  box-sizing: border-box;
  width: calc(25% - 7.5px);
}
#tinymce.wp-editor .gallery .gallery-item:after {
  content: "";
  display: block;
  padding-top: 75%;
}
#tinymce.wp-editor .gallery .gallery-item:nth-of-type(4n) {
  margin-right: 0px;
}
#tinymce.wp-editor .gallery .gallery-item img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  cursor: zoom-in;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0px !important;
  margin: 0px;
}
#tinymce.wp-editor .gallery .gallery-item .gallery-caption {
  display: none;
}
#tinymce.wp-editor .gallery > p {
  margin: 0px;
}
#tinymce.wp-editor .home-link {
  color: #777;
  border-bottom: 1px solid white;
  display: inline-block;
}
#tinymce.wp-editor .home-link:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url("../images/arrow-back-icon.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 5px;
}
#tinymce.wp-editor .home-link:hover, #tinymce.wp-editor .home-link:active {
  border-bottom: 1px solid #777;
}
@media screen and (max-width: 640px) {
  #tinymce.wp-editor {
    padding: 10px 15px;
  }
  #tinymce.wp-editor img {
    margin: 25px auto;
  }
  #tinymce.wp-editor .gallery {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  #tinymce.wp-editor .gallery .gallery-item {
    width: calc(33.3333% - 6.6666666667px);
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(4n) {
    margin-right: 10px;
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(3n) {
    margin-right: 0px;
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(3n + 1) {
    clear: both;
  }
  #tinymce.wp-editor .wp-caption {
    margin: 25px auto;
  }
}
@media screen and (max-width: 470px) {
  #tinymce.wp-editor .gallery .gallery-item {
    width: calc(50% - 5px);
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(3n) {
    margin-right: 10px;
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(3n + 1) {
    clear: none;
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(2n) {
    margin-right: 0px;
  }
  #tinymce.wp-editor .gallery .gallery-item:nth-of-type(2n + 1) {
    clear: both;
  }
}
