#info-card-wrap
	position: relative
	float: right
	width: calc(100% - 220px)
	box-sizing: border-box
	z-index: 1
	margin-bottom: -100px
	overflow: hidden

	&:after
		content: ""
		display: block
		position: absolute
		right: 0px
		bottom: 0px
		left: 0px
		width: 100%
		height: 70px
		background: linear-gradient(to bottom, transparent, #f0f0f0)

	#hero-image
		.image-container
			display: block
			position: relative
			width: 100%
			height: auto
			z-index: 0

//
// Extended info rollet
//

#mobile-tooltip-toggle
	display: none

#mobile-tooltip-label
	display: none

#close-expanded-info-rollet-toggle
	display: none

.hero-card-info-wrap
	width: calc(28% - 29px)
	min-width: 235px
	background: rgba(0,0,0,0.40)
	border-radius: 3px 0px 0px 3px
	padding: 17px 0 7px
	box-sizing: border-box
	position: absolute
	top: 17px
	right: 0px

	.erb-container
		position: relative
		margin-bottom: 10px
		padding: 0 17px
		&:after
			content: ""
			display: block
			clear: both

		img
			float: left
			display: block
			width: 20px
			padding-top: 8px
			height: auto
			padding-right: 10px				
			opacity: 0.90

			&:hover, &:active
				opacity: 1

		.tooltip
			color: white
			font-size: 13px

@import "info-card-responsive"