#info-card-wrap
	display: none
	width: 100%
	background: white
	padding: ($universal-padding / 2)
	box-sizing: border-box
	border-radius: 3px
	border: 1px solid #DDD
	position: relative
	margin-bottom: $universal-padding

	#hide-info-card
		position: absolute
		top: 0px
		right: 0px
		height: 15px
		padding: 5px 10px
		cursor: pointer
		background: white
		font-size: 12px
		color: #AAA
		transition: 0.3s

		&:hover
			color: #444
			> img
				opacity: 1
				transform: translateY(-35px)

		> img
			margin: 0 auto
			width: 12px
			height: auto
			opacity: 0
			transition: 0.3s
			transform: translateY(-20px)

	> img
		float: left
		max-width: 250px

	.basic-info-wrap
		width: calc(100% - 250px)
		padding: 0px $universal-padding
		float: right
		box-sizing: border-box

		h1
			margin: 0px
			text-align: left
			font-weight: 300
			font-size: 2.0em
			font-size: 2.0em

		hr
			margin: 7px 0px

		ul
			padding: 0px
			margin: 0px
			list-style: none
			font-style: italic
			max-width: 220px
			display: inline-block
			margin-right: 15px

			li
				display: inline-block
				padding: 4px 4px 4px 0px
				max-width: 220px
				line-height: 14px
				box-sizing: border-box

#show-info-card
	position: absolute
	display: none
	top: 5px
	right: 15px
	height: 20px
	font-size: 12px
	color: #AAA
	cursor: pointer
	transition: color 0.5s, opacity 0.5s, transform 0.5s
	z-index: 2

	&:hover
		color: #444
		> img
			opacity: 1
			transform: translateY(-20px)

	> img
		margin-left: -26px
		width: 12px
		height: auto
		opacity: 0
		transition: opacity 0.3s, transform 0.3s
		transform: translateY(-45px)
	


@import "info-card-responsive"