@media screen and(max-width: 960px)
	#info-card-wrap
		width: 100%
		float: none

@media screen and(max-width: 640px)
	#info-card-wrap #hero-image .image-container
		background-position: -80px 0px

@media screen and(max-width: 580px)


@media screen and(max-width: 570px)
	#info-card-wrap
		// 31px tab button height + 17px container padding
		margin-bottom: -48px

		&:after
			height: 35px
			background: linear-gradient(to bottom, transparent, #f0f0f0)

		#hero-image .image-container
			background-position: -80px 0px


@media screen and(max-width: 370px)
	#info-card-wrap
		#hero-image
			h1
				font-size: 28px
