#content-single-page
	position: relative
	max-width: 720px
	box-sizing: border-box
	padding: $universal-padding
	margin: 0 auto
	background: white
	border-radius: 3px

	@import "../content-styles/content-styles.sass"

@media screen and(max-width: 640px)
	#content-single-page
		padding: 10px 15px