#content-single-page
  position: relative
  max-width: 720px
  box-sizing: border-box
  padding: $universal-padding
  margin: 0 auto
  background: white
  border-radius: 3px

  h2
    font-weight: 600
    margin-top: 0px
    line-height: 1.5em

  > p
    font-size: 1.1em
    color: #333

    > a
      text-decoration: underline
      color: $base-color-dark

  .additional-post-info
    color: #777

  // only anchor tag which has a img in it
  a img
    margin: 0px
    cursor: zoom-in

  img
    margin: $universal-padding auto
    max-width: 100%
    height: auto
    border: 0px !important
    transition: transform 0.3s
    
  .wp-caption
    margin: $universal-padding auto
    max-width: 100% !important
    a 
      display: block
      > img
        margin: 0px

    .wp-caption-text
      color: #777
      margin: 10px 0px 0px

  .gallery
    margin: $universal-padding 0px
    &:after
      content: ""
      display: table
      clear: both

    > br
      display: none
    .gallery-item
      width: 25%
      float: left
      margin: 0px
      padding: 0px 10px 10px 0px
      box-sizing: border-box

      //&:nth-of-type(3n + 3)
      //  padding: 0px 0px 10px 0px

      .gallery-caption
        display: none

      .gallery-icon
        a
          width: 100%
          padding-top: 75%
          position: relative
          overflow: hidden
          display: block

        img
          position: absolute
          top: 0
          left: 0
          margin: 0px
          width: 100%
          height: auto
          box-sizing: border-box
          border: 0px !important

.home-link
  color: #777
  border-bottom: 1px solid white
  display: inline-block

  &:before
    content: ""
    display: inline-block
    width: 14px
    height: 12px
    background: url('../images/arrow-back-icon.svg') no-repeat
    background-size: contain
    background-position: center center
    margin-right: 5px

  &:hover, &:active
    border-bottom: 1px solid #777

// custom buttons
.button-prefab
  position: relative
  margin: 8px 0px
  padding-right: 17px
  display: inline-block
  border-radius: 3px
  background: white
  box-shadow: 1px 1px 2px 1px #ddd
  user-select: none
  transition: 0.2
  overflow: hidden

  //text
  font-weight: 600
  text-decoration: none

  &:hover
    background: #F6F6F6

  &:active
    background: #EEE
    box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.3)
    &:before
      box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.3)

.button-stripe
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 7px
    height: 100px
    display: inline-block
    margin-right: 8px

.simple-button
  @extend .button-prefab
  padding: 10px 17px
  margin-right: 7px
  overflow: hidden

.simple-button.pdf-button
  @extend .button-stripe
  &:before
    background-color: #F24236

.simple-button.edookit-button
  @extend .button-stripe
  &:before
    background-color: #582C83

.download-button
  @extend .button-prefab

  &:before
    position: relative
    top: 0
    left: 0
    padding: 10px 17px
    color: white
    display: inline-block
    margin-right: 8px


.download-button.pdf
  &:before
    content: "PDF"
    background: #F24236

  &:hover
    &:before
      background: #D81B0E

.download-button.docx, .download-button.doc
  &:before
    content: "DOCX"
    background: #295598

  &:hover
    &:before
      background: #204276
.download-button.doc
  &:before
    content: "DOC"

.download-button.xlsx, .download-button.xls
  &:before
    content: "XLSX"
    background: #1F7244

  &:hover
    &:before
      background: #1A5E38
.download-button.xls
  &:before
    content: "XLS"

.download-button.pptx,
.download-button.ppt
  &:before
    content: "PPTX"
    background: #D14424

  &:hover
    &:before
      background: #B0391E
.download-button.ppt
  &:before
    content: "PPT"


@import "single-page-responsive"