#posts-wrap .post-wrap.aside
	background: hsl(55, 85, 90) !important

	h2.aside-headline
		padding-top: 12px
		font-size: 14px
		line-height: 18px
		color: #444
		max-width: 100%
		// excerpt
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden

		a .one-line-excerpt
			font-size: 13px
			line-height: 16px
			color: #666

	.basic-info-wrap
		line-height: 16px
		margin-bottom: 12px

		.post-details-wrap
			margin-bottom: 0px

@media screen and(max-width: 640px)
	#posts-wrap .post-wrap.aside
		.basic-info-wrap

@media screen and(max-width: 470px)
	#posts-wrap .post-wrap.aside
		.basic-info-wrap
			padding-left: 15px