@media screen and(max-width: $content-max-width)
	#info-card-wrap
		width: auto

@media screen and(max-width: 640px)
	#info-card-wrap

		img
			display: none

		.basic-info-wrap
			width: 100%
			float: none
			padding: 0px

			h1