#info-card-wrap
	width: 100%
	background: hsl(0,0,97)
	padding: ($universal-padding / 2)

	img
		float: left
		max-width: 250px

	.basic-info-wrap
		width: calc(100% - 250px)
		padding: 0px $universal-padding
		float: right
		box-sizing: border-box

		h1
			margin: 0px
			text-align: left
			font-weight: 300
			font-size: 2em