@media screen and(max-width: ($content-max-width + 70px))
	#info-card-wrap
		width: auto

	#show-info-card
		right: 15px

@media screen and(max-width: 1025px)
	#show-info-card
		top: 42px
		right: 35px

@media screen and(max-width: 640px)
	#info-card-wrap

		img
			display: none

		.basic-info-wrap
			width: 100%
			float: none
			padding: 0px

			h1

	#show-info-card
		right: 16px

@media screen and(max-width: 490px)
	#show-info-card
		top: 35px
		right: 15px
		font-size: 0px
		border: 1px solid #DDD
		border-radius: 3px
		border-bottom-left-radius: 0px
		border-bottom-right-radius: 0px
		border-bottom: 0px
		height: 31px
		box-sizing: border-box
		width: 35px
		background:
			image: url("img/info-card-icon.svg")
			size: cover
			position: center

		&:hover
			color: #444
			> img
				opacity: 1
				transform: translateY(-20px)

		&:active
			background-color: hsl(0,0,85)

		> img
			margin: 0 auto
			transform: translateY(-45px)

@media screen and(max-width: 470px)
	#info-card-wrap
		border-left: 0px
		border-right: 0px
		border-radius: 0px
		padding: 15px

	#show-info-card
		top: 17.5px