#founder-partner-tags
	margin: 17px 0px
	color: #777
	clear: both

	> .logo-partner-school
		height: 45px
		margin: 0px 17px
		float: left
		filter: grayscale(100%) opacity(35%)
		transition: 0.2s

		&:hover
			filter: grayscale(0%) opacity(100%)
