nav#side-list
	width: 220px
	float: left
	min-height: calc(100vh - 60px) !important
	box-sizing: border-box
	border-left: 1px solid rgba(0,0,0,0.15)
	border-right: 1px solid rgba(0,0,0,0.15)
	background: white

	#searchform-container
		position: relative
		box-shadow: 0px 1px 0px rgba(0,0,0,0.15)
		
		.underline-animated
			content: ""
			display: block
			position: absolute
			z-index: 3
			width: 100%
			height: 3px
			background-color: $base-color
			transition: 0.2s
			transform: scale(0,1)


		input.search-field
			border: 0px solid #DCDCDC
			padding: 10px 0px
			margin-left: 15px 
			width: 188px
			border-radius: 0px
			&:focus ~ .underline-animated
				transform: scale(1,1)

		input#searchsubmit
			position: absolute
			right: 15px
			top: 0px
			cursor: pointer
			border: 0px
			padding: 7px
			border-radius: 0px
			background: none


	ul#menu-bocni-seznam
		list-style: none
		margin: 35px 0px
		padding: 0px

		> li
			display: block
			border-top: 1px solid rgba(0,0,0,0.15)
			box-shadow: 0px 1px rgba(0,0,0,0.15)
			background: white
			overflow: hidden
			position: relative

			&:before
				transition: 0.2s
				content: ""
				position: absolute
				display: inline-block
				left: -20px
				top: 10px
				width: 20px
				height: 20px
				background: $base-color
				border-radius: 50%

			&:hover
				&:before
					left: -11px

			a
				display: block
				height: 40px
				line-height: 40px
				box-sizing: border-box
				padding: 0px 15px
				color: $base-color-dark
				font-family: 'Museo'

				&:active
					transition: 0s
					background: hsl(0,0,85)

			li.current-menu-item a
				text-decoration: underline
				background: hsl(0,0,85)

			ul.sub-menu
				list-style: none
				overflow: hidden
				margin: 0px
				padding-left: 15px
				padding-bottom: 0px
				transition: 0.5s
				position: relative
				height: 0px

				li
					border-top: 0px
					box-shadow: none
					> a
						height: auto
						line-height: 20px
						font-weight: 400
						padding: 7px 15px

						&:hover
							text-decoration: underline

			ul.sub-menu.open
				padding-bottom: 15px

@import "menu-side-list-responsive"